body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    /*   min-width: 600px;
    max-width: 650px;
    min-height: 500px;
    max-height: 650px; */
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

#messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(223, 128, 26);
    border-radius: 15px 0 0 15px;
    padding: 15px 25px 15px 30px; /* Уменьшили padding справа */
    background-color: #fbefef;
    min-width: 600px;
    max-width: 650px;
    min-height: 650px;
    max-height: 650px;
    overflow-y: auto; /* Вертикальная прокрутка */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    position: relative;
}

/* Полоса прокрутки */
#messages-container::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
    position: absolute;
    right: 20px;
}

/* Ползунок полосы прокрутки */
#messages-container::-webkit-scrollbar-thumb {
    background-color: #e6801a; /* Цвет ползунка */
    border-radius: 5px; /* Скругление углов */
    border: 2px solid #fbefef; /* Отступ от правого края */
    margin-right: 10px; /* Сдвиг полосы прокрутки влево */
}

/* Фон полосы прокрутки */
#messages-container::-webkit-scrollbar-track {
    background-color: #ffe6cc; /* Цвет фона */
    border-radius: 5px; /* Скругление углов */
}

.message {
    border: 1px solid #333;
    padding: 10px;
    display: flex;
    /*     border: 1px solid rgb(230, 146, 146); */
    border-radius: 15px;
    background-color: #f6d5d5;
    /* align-items: center; */
}

.message .from {
    font-weight: bold;
    width: 34%; /* Задает 35% ширины для отправителя */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message .subject {
    width: 33%; /* Задает 35% ширины для темы */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message .date {
    font-size: 14px;
    color: #666;
    width: 33%; /* Задает 30% ширины для даты */
    text-align: right;
}

.error-notification {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(219, 52, 52);
    border-radius: 15px;
    background-color: #ffecec;
}
